.navigation-pad {
    display: grid;
    height: 50px;
    
    background: coral;
}

a {
    color: steelblue;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.navigation-bar {
    height: 40px;
    max-width: 1000px;
    margin: auto;

    display: grid;
    gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40px;
    border-radius: 20px;
}

.navigation-bar:hover {
    background-color: rgb(209, 209, 209);

    transition-duration: 0.5s;
}

.navigation-button {
    min-width: 90px;
    height: 30px;
    border-radius: 15px;

    text-align: center;
    align-self: center;

    border: none;
    background-color: transparent;
    font-size: 18px;
    color: black;
}

.navigation-button:hover {
    transition-duration: 0.2s;

    background-color: rgb(95, 95, 95);
    color: white;
}