body {
    margin: 0;
    background: white;
    text-align: center;
}

.site-container {
    display: grid;

    
}

.navigation-bar {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;

    background: coral;
}

.navigation-button {
    text-align: center;
    align-self: center;
}

.grid-container {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.grid-item {
    text-align: center;
    align-self: center;
}