@import "../styles.css";

body {
    margin: 0;
    background: rgb(88, 88, 88);
    text-align: center;
}

.main-paragraph {
    max-width: 1000px;
    flex-basis: 100%;
}

.portal-flex {
    display: flex;
    padding-top: 20px;
    justify-content: center;

    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;

    background: rgb(39, 39, 39);
}

.portal, .portal-image, .portal-button {
    align-self: center;

    width: 200px;
    height: 200px;
    border-radius: 15px;

    transition-duration: 0.2s;
}

.portal {
    position: relative;
}

.portal-image {
    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 100%;
}

.portal-image:hover {
    opacity: 20%;
}

.portal-button {
    position: absolute;
    top: 0px;
    left: 0px;

    border: none;
    background-color: rgba(116, 116, 116, 0);

    line-height: 200px;
    text-align: center;
    font-size: 20px;
    white-space: normal;
    
    opacity: 0%;
}

.portal-button:hover {
    background-color: rgba(116, 116, 116, 0.9);
    opacity: 100%;
}

.portal:hover {
    transition-duration: 0.2s;

    background-image: none;
    background-color: rgb(95, 95, 95);
}